.main_body {
    position:relative;
    top: 0px;
    left: 0px;
    
    /* Medium */
    /*width: 1700px;*/
    min-width: 800px;
    max-width: 1700px;

    /*height: 800px;*/
    min-height: 540px;
    max-height: 1500px;

    /* Large */
    /*min-width: 960px;*/
    /*min-height: 720px;*/

    /* Extra Large */
    /*min-width: 1140px;*/
    /*min-height: 855px;*/
    
}

.left_area {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    min-width: 245px;
    width: 245px;
    height: 100%;
    min-height: 100%;
}

.sidebar_headar {
    /*position: absolute;*/
    height: 40px;
    /*left: 0px;*/
    width: 100%
}

.sidebar_lists {
    /*position:  absolute;*/
    min-width: 100%;
    min-height: 30px;
    height: 30px;
    /*cursor: pointer;*/
}

.checkbox-area {
    cursor: pointer;
}

.left_menu_zone {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 245px;
    height: 100%;
    min-width: 50px;
}

.top_area {
    position: absolute;
    left: 250px;
    top: 0px;
    bottom: 0px;
    /*min-width: px;*/
    width: 1550px;
    height: 40px;
    /*min-height: 100%;*/
}

.head_area {
    position: absolute;
    left: 250px;
    top: 40px;
    width: 1550px;
    height: 40px;
}

.main_area {
    position: absolute;
    left: 250px;
    top: 65px;
    /*min-width: px;*/
    min-width: 800px;
    min-height: 500px;
    height: 760px;
    max-height: 900px;
    max-width:1900px;

    
}

.cal3 {
    position:  absolute;
}

.date_box {
    background-color: #ffffff;
    position: absolute;
    
}

.today_box {
    background-color: lightcyan;
    
}

.other_month_box {
    background-color: lightyellow;
}



.task_complete {
    text-decoration: line-through;
}

.cal_cell { position: absolute; }

.row1 { top: 0;    height: 20%; }
.row2 { top: 20%;  height: 20%; }
.row3 { top: 40%;  height: 20%; }
.row4 { top: 60%;  height: 20%; }
.row5 { top: 80%;  height: 20%; }
.row6 { top: 100%; height: 20%; }

.col1 { left: 0%;
        width: 14.285714285714286%;
        right: auto;
}

.col2 { left: 14.285714285714286%;
        width: 14.285714285714286%;
        right: auto;
}

.col3 { left: 28.571428571428572%;
        width: 14.285714285714286%;
        right: auto;
}

.col4 { left: 42.857142857142858%;
        width: 14.285714285714286%;
        right: auto;
}

.col5 { left: 57.142857142857144%;
        width: 14.285714285714286%;
        right: auto;
}


.col6 { left: 71.42857142857143%;
        width: 14.285714285714286%;
        right: auto;
}

.col7 { left: 85.714285714285716%;
        width: 14.285714285714286%;
        right: auto;
}

.span1 { width: 14.285714285714286%; }
.span2 { width: 28.571428571428572%; }
.span3 { width: 42.857142857142858%; }
.span4 { width: 57.142857142857144%; }
.span5 { width: 71.42857142857143%;  }
.span6 { width: 85.714285714285716%; }
.span7 { width: 100%; }


.order0 { top:   0px; }
.order1 { top:  28px; }
.order2 { top:  48px; }
.order3 { top:  68px; }
.order4 { top:  88px; }
.order5 { top: 108px; }
.order6 { top: 128px; }
.order7 { top: 148px; }  /* ５件以上は「その他〇件 */

/*.container{ */
/*    height: 18px;*/
/*    position: absolute;*/
/*    right: 0;*/
/*    left: 1px;*/
/*    overflow: hidden;*/
/*}*/

/*.title { text-overflow: ellipsis; }*/
/*.time {}*/

.heddings {
    position: absolute;
    height: 27px;
}

.multi_schedule {
    width: 100%;
}

.single_schedule {
    width: 100%;
}

.date_item {
    cursor: pointer;
    z-index: 50;
}

.calendar_item {
    position: absolute;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.2;
    font-family: 'SFNSText', 'Helvetica Neue', "Meiryo UI", "MS PGothic", sans-serif;
    margin: 0px;
    padding: 0px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -ms-content-zooming: none;
    overflow: hidden;
    cursor: pointer;
    z-index: 51;
}

.schedule_time {
    /*position: static;*/
    text-align-last: end
}

.other_item {
    position: absolute;
    color: #555;
    font-size: 13px;
    font-weight: 500;
    right: auto;
    
}